[submodule "third_party/argparse"]
	path = third_party/argparse
	url = https://github.com/bewest/argparse
[submodule "third_party/bottle"]
	path = third_party/bottle
	url = https://github.com/defnull/bottle
[submodule "third_party/frozendict"]
	path = third_party/frozendict
	url = https://github.com/slezica/python-frozendict
[submodule "third_party/waitress"]
	path = third_party/waitress
	url = https://github.com/Pylons/waitress
[submodule "third_party/requests"]
	path = third_party/requests
	url = https://github.com/kennethreitz/requests
[submodule "third_party/python-future"]
	path = third_party/python-future
	url = https://github.com/PythonCharmers/python-future
[submodule "third_party/swiftyswiftvim"]
	path = third_party/swiftyswiftvim
	url = https://github.com/jerrymarino/swiftyswiftvim
